* {
    box-sizing: border-box;
}
.breadcrumb {
    background-color: #fff;
    padding: 16px 0;
}

.breadcrumb ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.breadcrumb li {
    margin-right: 0;
    position: relative;
}

.breadcrumb a::before, 
.breadcrumb a::after {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 18px 8px;
    z-index: 1;
    top: 0;
}

.breadcrumb a::before {
    left: -20px;
    border-left-color: transparent;
}

.breadcrumb a::after {
    right: 0;
    border-left-color: transparent;
}

.breadcrumb a.attribute::after {
    content: ' x ';
    color: #fff;
    background-color: red;
    border-color: transparent;
    border-width: 5px;
    font-size: 10px;
    vertical-align: text-top;
}

.breadcrumb a {
    text-decoration: none;
    color: #448000;
    font-weight: bold;
    padding: 10px 40px 10px 20px;
    text-align: center;
    display: inline-block;
    background-color: silver;
    position: relative;
}

.breadcrumb a.attribute {
    border-radius: 5%;
    color: #fff;
}

.breadcrumb a.current {
    background-color: #448000;
    color: #000;
}

.breadcrumb a:hover {
    color: black;
}

.breadcrumb a.current:hover {
    color: #fff;
}

.breadcrumb a.attribute:hover {
    color: #fff;
    font-size: 105%;
}

.breadcrumb a:not(.attribute):active {
    padding: 10px 60px 10px 30px;

}

.breadcrumb a.attribute:active::after {
    font-size: 15px;
}
